html {
    font-family: Inter;
    font-size: 16px;
}

body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.55;
    color: var(--dl-color-gray-900);
    background-color: var(--dl-color-gray-white);

}