.elementor-6 .elementor-element.elementor-element-166f3d6>.elementor-container {
    max-width: 600px;
}

.elementor-6 .elementor-element.elementor-element-166f3d6>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-166f3d6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 5%;
    margin-bottom: 5%;
}

.elementor-6 .elementor-element.elementor-element-166f3d6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-a36d4bc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0A1220CF;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 64px 64px 64px 64px;
    --e-column-margin-right: 64px;
    --e-column-margin-left: 64px;
}

.elementor-6 .elementor-element.elementor-element-a36d4bc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-60c1da2 img {
    width: 120px;
    height: 120px;
    border-radius: 50% 50% 50% 50%;
}

.elementor-6 .elementor-element.elementor-element-60c1da2>.elementor-widget-container {
    margin: 16px 8px 8px 8px;
}

.elementor-6 .elementor-element.elementor-element-000c2ad {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-000c2ad .elementor-heading-title {
    color: #D9D9D9;
    font-family: "Arial", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -1.7px;
}

.elementor-6 .elementor-element.elementor-element-af91759 {
    text-align: center;
    padding-bottom: 8px;
}

.elementor-6 .elementor-element.elementor-element-af91759 .elementor-heading-title {
    color: #999999;
    font-family: "Arial", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.7px;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-44c8f74.elementor-social-icon {
    background-color: #02010100;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-44c8f74.elementor-social-icon i {
    color: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-44c8f74.elementor-social-icon svg {
    fill: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-e95a1f2.elementor-social-icon {
    background-color: #D4262600;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-e95a1f2.elementor-social-icon i {
    color: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-e95a1f2.elementor-social-icon svg {
    fill: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-a364c81.elementor-social-icon {
    background-color: #02010100;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-a364c81.elementor-social-icon i {
    color: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-repeater-item-a364c81.elementor-social-icon svg {
    fill: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-widget-container {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-social-icon {
    background-color: #02010100;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-social-icon i {
    color: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-social-icon svg {
    fill: #3D4F6D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 {
    --icon-size: 32px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-social-icon:hover i {
    color: #3E506E7D;
}

.elementor-6 .elementor-element.elementor-element-3f36362 .elementor-social-icon:hover svg {
    fill: #3E506E7D;
}